@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@using Consultorio_Medico.Blazor.Data;
@using System.Timers

<PageTitle>Consultorio_Medico.Blazor</PageTitle>

<div class="page">

   <AuthorizeView>
        <Authorized>
    <div class="sidebar" >
        <NavMenu />

    </div>
        </Authorized>
     </AuthorizeView>

    <main>
        <div class="top-row px-4">

            <RadzenButton Click="@(() => OnClick())" Style="justify-items: legacy left; margin-right: 10px" Text="@(language.Traduction("Change Language", "Cambiar Idioma"))" Icon="refresh" ButtonStyle="ButtonStyle.Light" />
       <AuthorizeView>
        <Authorized>
                    <RadzenButton Click="@(() => Logout())" Style="justify-items: legacy left" Text="@(language.Traduction("Logout", "Cerrar Sesión"))" Icon="power" ButtonStyle="ButtonStyle.Danger" />
        </Authorized>
    </AuthorizeView>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>

@code{

    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    LanguageService language { get; set; }

    [Inject]
    NotificationService NotificationService { get; set; }

    public void OnClick()
    {
        CambiarIdioma();
    }

    private void CambiarIdioma()
    {
        language.Language = language.Language == 0 ? 1 : 0;

        navigation.NavigateTo(navigation.Uri, forceLoad: true);
    }

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navigation.NavigateTo("/", true);
    }
}
